.contacts__address {
  font-family: "Dewi";
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -0.04em;
  color: #121c46;
  margin-bottom: 15px;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.contacts__item:not(:last-child) {
  margin-bottom: 7px;
}

.contacts__mail,
.contacts__tel {
  font-family: "Inter Tight";
  font-size: 12px;
  color: #121c46;
}

.contacts__mail {
  font-weight: 600;
  text-decoration-line: underline;
}

.contacts__tel {
  font-weight: 500;
}
