.nav__list {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.nav__item:not(:last-child) {
  margin-bottom: 40px;
}

.nav__item--footer:not(:last-child) {
  margin-bottom: 24px;
}

.nav__link {
  font-family: "Dewi";
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -0.04em;
  color: #121c46;
}

.nav__link:active,
.nav__link:focus,
.nav__link:hover {
  color: #18bbfe;
}

.nav__link--footer {
  text-decoration: underline;
  color: #ffffff;
  font-size: 12px;
  opacity: 0.3;
}

.nav__link--footer:active,
.nav__link--footer:focus,
.nav__link--footer:hover {
  opacity: 1;
  color: #ffffff;
}
